div {
    border: 2px solid black;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar {
    grid-row: span 2;
    display: grid;
}

.header {
    display: grid;
    grid-template: 2fr 1fr / 2fr 1fr;
}

.main-content{
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.projects {
    grid-row: span 2;
}

.trending {
    grid-column: 2 / 3;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo, .nav1, .nav2 {
    display: grid;
    justify-content: center;
    border: 1px solid red;
}