.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    border: 2px solid black;
}

.sidebar {
    grid-row: span 2;
    display: grid;
}

.header {
    display: grid;
    grid-template: 2fr 1fr / 2fr 1fr;
}

.search, .user-info, .welcome, .header-buttons {
    border: 1px solid red;
}

.main-content{
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.projects, .announcements, .trending {
    border: 1px solid red;
}

.projects {
    grid-row: span 2;
}

.announcements-grid {
    display: grid;
    gap: 8px;
}

.announce {
    border: 1px solid blue;
}

.trending {
    grid-column: 2 / 3;
}

.trending-grid {
    display: grid;
    gap: 5px;
}

.trend {
    border: 1px solid blue;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
}

.card {
    border: 1px solid blue;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo, .nav1, .nav2 {
    display: grid;
    justify-content: center;
    border: 1px solid red;
}